@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?mksstw');
	src:url('fonts/icomoon.eot?#iefixmksstw') format('embedded-opentype'),
		url('fonts/icomoon.woff?mksstw') format('woff'),
		url('fonts/icomoon.ttf?mksstw') format('truetype'),
		url('fonts/icomoon.svg?mksstw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e000";
}
.icon-home2:before {
	content: "\e001";
}
.icon-office:before {
	content: "\e00b";
}
.icon-pencil:before {
	content: "\e00d";
}
.icon-pencil2:before {
	content: "\e011";
}
.icon-image:before {
	content: "\e02b";
}
.icon-image2:before {
	content: "\e02c";
}
.icon-camera:before {
	content: "\e034";
}
.icon-camera2:before {
	content: "\e035";
}
.icon-music:before {
	content: "\e038";
}
.icon-play:before {
	content: "\e042";
}
.icon-camera3:before {
	content: "\e04c";
}
.icon-bullhorn:before {
	content: "\e05f";
}
.icon-new:before {
	content: "\e061";
}
.icon-connection:before {
	content: "\e062";
}
.icon-mic:before {
	content: "\e06d";
}
.icon-books:before {
	content: "\e072";
}
.icon-reading:before {
	content: "\e073";
}
.icon-file:before {
	content: "\e077";
}
.icon-profile:before {
	content: "\e078";
}
.icon-file2:before {
	content: "\e079";
}
.icon-file3:before {
	content: "\e07a";
}
.icon-file4:before {
	content: "\e07c";
}
.icon-file5:before {
	content: "\e07d";
}
.icon-folder:before {
	content: "\e0ad";
}
.icon-tag:before {
	content: "\e0b3";
}
.icon-tag2:before {
	content: "\e0b4";
}
.icon-tag3:before {
	content: "\e0b5";
}
.icon-tag4:before {
	content: "\e0b6";
}
.icon-tag5:before {
	content: "\e0b7";
}
.icon-tag6:before {
	content: "\e0b8";
}
.icon-tag7:before {
	content: "\e0b9";
}
.icon-tags:before {
	content: "\e0ba";
}
.icon-tags2:before {
	content: "\e0bb";
}
.icon-cart:before {
	content: "\e0c1";
}
.icon-cart2:before {
	content: "\e0c2";
}
.icon-envelope:before {
	content: "\e0eb";
}
.icon-envelope2:before {
	content: "\e0ef";
}
.icon-location:before {
	content: "\e0f1";
}
.icon-location2:before {
	content: "\e0f5";
}
.icon-location3:before {
	content: "\e0f6";
}
.icon-compass:before {
	content: "\e0f9";
}
.icon-map:before {
	content: "\e0fb";
}
.icon-clock:before {
	content: "\e101";
}
.icon-clock2:before {
	content: "\e102";
}
.icon-clock3:before {
	content: "\e103";
}
.icon-clock4:before {
	content: "\e104";
}
.icon-calendar:before {
	content: "\e112";
}
.icon-calendar2:before {
	content: "\e113";
}
.icon-calendar3:before {
	content: "\e114";
}
.icon-calendar4:before {
	content: "\e115";
}
.icon-calendar5:before {
	content: "\e116";
}
.icon-print:before {
	content: "\e117";
}
.icon-print2:before {
	content: "\e118";
}
.icon-print3:before {
	content: "\e119";
}
.icon-mobile:before {
	content: "\e125";
}
.icon-bubble:before {
	content: "\e150";
}
.icon-bubbles:before {
	content: "\e151";
}
.icon-bubbles2:before {
	content: "\e155";
}
.icon-bubble-notification:before {
	content: "\e156";
}
.icon-bubbles3:before {
	content: "\e157";
}
.icon-bubbles4:before {
	content: "\e158";
}
.icon-bubble2:before {
	content: "\e159";
}
.icon-bubble-dots:before {
	content: "\e15a";
}
.icon-bubble3:before {
	content: "\e15b";
}
.icon-bubble4:before {
	content: "\e15c";
}
.icon-bubble5:before {
	content: "\e160";
}
.icon-bubbles5:before {
	content: "\e161";
}
.icon-bubble6:before {
	content: "\e162";
}
.icon-bubbles6:before {
	content: "\e163";
}
.icon-bubble7:before {
	content: "\e166";
}
.icon-bubble8:before {
	content: "\e167";
}
.icon-bubble9:before {
	content: "\e169";
}
.icon-user:before {
	content: "\e185";
}
.icon-users:before {
	content: "\e186";
}
.icon-user-plus:before {
	content: "\e187";
}
.icon-user2:before {
	content: "\e18e";
}
.icon-users2:before {
	content: "\e18f";
}
.icon-user3:before {
	content: "\e194";
}
.icon-user4:before {
	content: "\e195";
}
.icon-user5:before {
	content: "\e196";
}
.icon-user6:before {
	content: "\e197";
}
.icon-users3:before {
	content: "\e198";
}
.icon-quotes-left:before {
	content: "\e19f";
}
.icon-quotes-right:before {
	content: "\e1a0";
}
.icon-quotes-right2:before {
	content: "\e1a1";
}
.icon-quotes-right3:before {
	content: "\e1a2";
}
.icon-busy:before {
	content: "\e1a3";
}
.icon-search:before {
	content: "\e1b6";
}
.icon-search2:before {
	content: "\e1b7";
}
.icon-zoomin:before {
	content: "\e1b8";
}
.icon-zoomin2:before {
	content: "\e1bc";
}
.icon-expand:before {
	content: "\e1bf";
}
.icon-contract:before {
	content: "\e1c0";
}
.icon-pie:before {
	content: "\e1f7";
}
.icon-pie2:before {
	content: "\e1f8";
}
.icon-pie3:before {
	content: "\e1f9";
}
.icon-pie4:before {
	content: "\e1fa";
}
.icon-pie5:before {
	content: "\e1fb";
}
.icon-pie6:before {
	content: "\e1fc";
}
.icon-pie7:before {
	content: "\e1fd";
}
.icon-stats:before {
	content: "\e1fe";
}
.icon-stats2:before {
	content: "\e1ff";
}
.icon-stats3:before {
	content: "\e200";
}
.icon-bars:before {
	content: "\e201";
}
.icon-bars2:before {
	content: "\e202";
}
.icon-bars3:before {
	content: "\e203";
}
.icon-bars4:before {
	content: "\e204";
}
.icon-bars5:before {
	content: "\e205";
}
.icon-bars6:before {
	content: "\e206";
}
.icon-stats-up:before {
	content: "\e207";
}
.icon-stats-down:before {
	content: "\e208";
}
.icon-stairs-down:before {
	content: "\e209";
}
.icon-stairs-down2:before {
	content: "\e20a";
}
.icon-chart:before {
	content: "\e20b";
}
.icon-globe:before {
	content: "\e2c4";
}
.icon-globe2:before {
	content: "\e2c5";
}
.icon-globe3:before {
	content: "\e2c6";
}
.icon-earth:before {
	content: "\e2c7";
}
.icon-heart:before {
	content: "\e304";
}
.icon-info:before {
	content: "\e362";
}
.icon-info2:before {
	content: "\e363";
}
.icon-paragraph-left:before {
	content: "\e475";
}
.icon-mail:before {
	content: "\e491";
}
.icon-googleplus:before {
	content: "\e496";
}
.icon-facebook:before {
	content: "\e49b";
}
.icon-instagram:before {
	content: "\e49c";
}
.icon-twitter:before {
	content: "\e49f";
}
.icon-feed:before {
	content: "\e4a0";
}
.icon-feed2:before {
	content: "\e4a1";
}
.icon-feed3:before {
	content: "\e4a2";
}
.icon-pinterest:before {
	content: "\e4d6";
}
.icon-file-pdf:before {
	content: "\e4e2";
}
.icon-file-word:before {
	content: "\e4e4";
}
