body {
  margin:0; padding:0;
}

h2 {
  padding-top: 10px;
}

#siteContent img {
  max-width: 60% !important;
  height:auto;
}

.print-logo {
  margin-left: 18px;
  padding-left: 0;
  margin-bottom: 20px;
}
}
